*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #3f3f3f;
}
body{
    background-image: linear-gradient(to right,#ffffff,#ffffe8);
    color: #fff;
}

p{
    font-size: 22px;
}
.task{
    border: 2px solid red;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background: rgba( 172, 214, 221, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 15px 20px;
    border-bottom:3px solid #fff ;
    display: flex;
justify-content: space-between;
}
.icon{
    font-size: 22px;

}
.icon:hover{
    font-size: 26px;
    transition: 0.2s;
    cursor: pointer;
}
.icon-star , .icon-trash{
    opacity: 0.4;
    font-size: 27px;
}
.icon-star:hover{
    color: orange;
    opacity: 1;
    font-size: 29px;
}
.icon-trash{
    margin-right: 10px;
    font-size: 27px;

}
.icon-trash:hover{
    color:rgb(255,242,217);
    font-size: 29px;
    opacity:1 ;
}
.icon-angry2{
color: rgb(212, 212, 16);
font-size: 24px;

}
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 40px;

}
form{
    text-align: center;
}
input{
    padding: 10px 20px;
    border-radius: 6px;
    width: 35vw;
    font-size: 21px;
    text-align: center;
}
button{all:unset}

h1{
   
    text-align: center;
    font-size: 4rem;
    border: whitesmoke;
    margin-top: 50px;
    margin:50px ;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 254, 234);
    background-color:#3f3f3f;
}